<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 p-0">
            <nav class="navbar navbar-expand-lg pt-2">
                <a class="navbar-brand ml-3" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/preferences">Preferences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="col-md-4 text-right pt-2">
            <a class="text-white pr-0 mr-3" href="/user/profile"><span class="userName"></span>
                <i class="fas fa-user-circle fa-2x text-white mt-1 ml-2 mb-2"></i></a>
        </div>
    </div>
</div>
{{!-- User sidebar --}}
    <div class="container-fluid mt-4">
        <div class="row profile">
            <div class="col-md-4 ml-5">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img src="http://via.placeholder.com/150" class="img-responsive" alt="Profile Image">
                    </div>
                </div>
                <!-- END SIDEBAR USERPIC -->
                <!-- SIDEBAR USER TITLE -->
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        <span id="steamusername"></span>
                    </div>
                    <div class="profile-usertitle-job">
                        <span id="favgenre"></span><span> Player</span>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="text-center" id="newGame">
                    <h2>Suggestions for New Game to try is appended here</h2>
                </div>
                <div class="text-center" id="friendSearch">
                    <h2>Search for friends based on which criteria? <br>
                    Add dropdown list to create a query
                    </h2>
                </div>
            </div>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>