<div class="container-fluid" id="nav-container">
    <div class="row">
        <div class="col-md-8 p-0">
            <nav class="navbar navbar-dark navbar-expand-lg pt-2">
                <a class="text-white pr-0 mr-3" href="/user/profile"><span class="userName"></span>
                    <i class="fas fa-user-circle fa-2x text-white mt-1 ml-2 mb-2"></i></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/user/preferences">Preferences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/auth/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>

<div class="row profile">
    <div class="col-sm-2 m-4 profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="/images/logoIcon.png" class="img-responsive" alt="Site Icon">
        </div>

        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->

        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                <span id="steamusername"></span>
            </div>
        </div>
        <div class="profile-usertitle-job">
            <span id="favgenre"></span><span> Player</span>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center mt-4">

            <div class="card" style="width: 18rem;" id="player1">
                <div class="card-body">
                    <h2 class="card-title" id="username0">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre0"></p>
                    <p class="card-text" id="gameone0"></p>
                    <p class="card-text" id="gametwo0"></p>
                    <p class="card-text" id="gamethree0"></p>
                    <p class="card-text" id="location0"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>

                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;" id="player2">


                <div class="card-body">
                    <h2 class="card-title" id="username1">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre1"></p>
                    <p class="card-text" id="gameone1"></p>
                    <p class="card-text" id="gametwo1"></p>
                    <p class="card-text" id="gamethree1"></p>
                    <p class="card-text" id="location1"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;" id="player3">
                <div class="card-body">
                    <h2 class="card-title" id="username2">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre2"></p>
                    <p class="card-text" id="gameone2"></p>
                    <p class="card-text" id="gametwo2"></p>
                    <p class="card-text" id="gamethree2"></p>
                    <p class="card-text" id="location2"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;" id="player3">
                <div class="card-body">
                    <h2 class="card-title" id="username2">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre3"></p>
                    <p class="card-text" id="gameone3"></p>
                    <p class="card-text" id="gametwo3"></p>
                    <p class="card-text" id="gamethree3"></p>
                    <p class="card-text" id="location3"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center mt-4">

            <div class="card" style="width: 18rem;" id="player3">

                <div class="card-body">
                    <h2 class="card-title" id="username2">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre4"></p>
                    <p class="card-text" id="gameone4"></p>
                    <p class="card-text" id="gametwo4"></p>
                    <p class="card-text" id="gamethree4"></p>
                    <p class="card-text" id="location4"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;" id="player3">

                <div class="card-body">
                    <h2 class="card-title" id="username2">Card title</h2>
                    <hr>
                    <p class="card-text" id="genre5"></p>
                    <p class="card-text" id="gameone5"></p>
                    <p class="card-text" id="gametwo5"></p>
                    <p class="card-text" id="gamethree5"></p>
                    <p class="card-text" id="location5"></p>
                    <a href="#" class="btn btn-primary">Full Profile</a>

                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/dashboard.js"></script>