<div class="container-fluid">
    <div class="row bg-dark">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-expand-lg pt-2">
                <a class="navbar-brand ml-3" href="/">Home</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/user/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="/user/register">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </div>
</div>
<div class="container mt-4">
    <!-- header -->
    <div class="header">
    </div>
    <hr>
    <div class="row">

        <div class="col-md-6 mx-auto">
            <div class="row m-5">
                <div class="col-sm-12">
                    <h1 class="text-center">Trending</h1>
                </div>
            </div>
            <div class="row m-5">
                <div class="col-sm-12">
                    <h1 class="text-center">Top Trending Games and the amount of users playing Appended Here</h1>
                </div>
            </div>


        </div>

        <div class="col-md-4 mx-auto">
            <h1 class="text-center">Log In to meet your friends</h1>
            <form class="alertAppend">
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput">
                </div>
                <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
                <small class="form-text text-muted">Not Registered Yet..? <a href="/user/register">Register</a></small>
            </form>
        </div>

    </div>
    <script type="text/javascript" src="/js/login.js"></script>