
body {
    background-color: #121212;
}
.header {
  background: url(../images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 250px;
}
.nav .navbar .navbar-nav {
    background-color: #121212;
} 
#steamusername {
    font-size: 26px;
    font-weight: bold;
}
.card {
    margin: 5px;
    border-color:white;
    background-color: #4a4a4a;

}

hr{
    height:1px;
    color: white;
    background-color: white;
    border:none;
}

h2{
    color:#ffb54a;
}